trigger:
  - master

pool:
  name: 'Hosted Windows 2019 with VS2019'

variables:
  BASE_VERSION: 1.3.5
  BUILD_NUMBER: $[counter(format('{0}_{1}', variables['BASE_VERSION'], variables['Build.SourceBranch']), 1)]
  PACKAGE_VERSION: $(BASE_VERSION).$(BUILD_NUMBER)
  CONFIGURATION: 'Release'
  BUILD_PRERELEASE: false
  CAKE_VERSION: 0.35.0
  DOTNET_CORE_VERSION: 6.x

steps:
  - task: UseDotNet@2
    inputs:
      version: $(DOTNET_CORE_VERSION)
      performMultiLevelLookup: true
  - powershell: |
      dotnet tool install -g cake.tool --version $(CAKE_VERSION)
  - powershell: dotnet cake --configuration="$(CONFIGURATION)" --packageVersion="$(PACKAGE_VERSION)" --prerelease="$(BUILD_PRERELEASE)"
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: output
      artifactName: nuget
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: diff
      artifactName: diff
  - task: PublishTestResults@2
    condition: always()
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: 'Mono.ApiTools.NuGetDiff.Tests\**\*.trx'
